.main-footer {
    color: #fff;
    background-color: #0D111C;
    padding-top: 3em;
    width: 100%;
    text-align: center;
    margin-top: 1.7rem;
    overflow: hidden;
    padding-bottom: 30px;
}


.creator {
    color: #fff;
    margin: .5rem;
}

.creator:hover, .name:hover {
    color: #000;
    text-decoration: none;
}

.name {
    color: #fff;
}

hr {
    width: 90%;
}